

                <div class="exception-body access-body">
                    <div class="exception-container">
                        <!-- <img src="../layout/images/logo-dark.png" alt="apollo-layout" /> -->
                        <h1 class="denied-message">Denied</h1>
                        <p>
                            You do not have the necessary privileges.
                        </p>
                        <button type="button" (click)="dashboard()"  class="ui-button blue-btn ui-widget ui-state-default ui-corner-all" style="border-radius:5px;padding:5px;height:40px;">
                            <span class="ui-button-text">
                                 <img src="../assets/layout/images/back.svg" alt="dashboard" style="height: 13px;width: 16px;float: left;margin: 3px">
                                Go To Dashboard</span>
                        </button>
                    </div>
                </div>
                